/*=========================================
SOLVENS AMORIS
BASE STYLE
=========================================*/

:root{

--gold:#d4af37;
--goldLight:#ffe48c;

--purple:#43146f;
--dark:#07030f;
--dark2:#11071d;

--white:#ffffff;

}

*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:Poppins,sans-serif;

background:
radial-gradient(circle at top,
#31104d,
#09040f 70%);

color:white;

overflow-x:hidden;

min-height:100vh;

}

header{

text-align:center;

padding-top:70px;

}

main{

width:min(92%,700px);

margin:auto;

padding:60px 0;

}

h1{

font-family:Cinzel,serif;

font-size:58px;

letter-spacing:5px;

color:var(--goldLight);

text-shadow:

0 0 20px gold;

}

p{

opacity:.85;

margin-top:15px;

letter-spacing:4px;

}

@media(max-width:768px){

h1{

font-size:36px;

}

}
